.App {
  text-align: center;
}

.nav {
  height: 100px;
  background-color: #EEFEFA;
}

.logo {
  max-width: 75%;  
  height: auto; 
}

#nav-text {
  color: #558564;
  font-size: 20px;
  font-family: krub, sans-serif;
  vertical-align:middle;
}

.App header div{
  justify-content: space-evenly;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* items on main page */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  margin: 2rem;
}

.card-img-top {
  border-radius: 8px;
  max-width:100%;
  max-height:100%;
  height: 15rem;
  width: auto;
}
