.App {
  text-align: center;
}

.nav {
  height: 100px;
  background-color: #EEFEFA;
}

#nav-text {
  color: #558564;
  font-size: 20px;
  font-family: sans-serif;
  vertical-align:middle;
}

p {
  font-family: krub, sans-serif;
}

.App header div{
  justify-content: space-evenly;

}

/* navbar of all pages */
.nav-container {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
}

.logo {
  width: 250px;
  cursor: pointer;
}

.title {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: .5rem;
  margin-left: .5rem;
}

nav {
  flex: 1;
  text-align: right;
  display: inline-block;
}

nav ul li {
  list-style: none;
}

.navigator {
  display: block;
  list-style: none;
  text-decoration: none;
  color: #6f7e63;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 900;
}

.ham-navigator {
  display: block;
  list-style: none;
  text-decoration: none;
  color: white;
  position: absolute;
}

.ham-icon {
  display: inline-block;
  width: 70px;
  margin-bottom: 50px;
  cursor: pointer;
}

.hamburgerButton {
  padding: 0px;
  border: 0px;
  height: 42.500px;
}

.menuNav {
  list-style: none;
  position: absolute;
  top: 0;
  background: rgb(195, 224, 195);
  right: 0;
  width: 0;
  overflow: hidden;
  margin-top: 7px;
  padding: 0;
}

.menuNav.showMenu {
  width: 100%;
}

a {
  display: block;
  padding: 7px 15px;
  text-decoration: none;
}

/*end of navbar */

/*Home Search */
.search {
  width: 400px;
  border-color: gray;
  background-color: #7e636f;
  color: white;  
  border-radius: 5%;
  border-style: solid;
  margin-top: 25px;
  padding-bottom: 20px;
  margin-left: 100px;
  justify-content: center;
}

.text-specificity {
  height: 50px;
  position: absolute;
  padding-left: 8px;
}


.check {
  font-size: 20px;
  font-family: krub, sans-serif;
  display: block;
  margin: 8px;
  text-align: center;
  padding-top: 20px;
}

.add-to-cart {
  height: 75px;
  width: 75px;
  
}

.cart-button {
  border: 0px;
  background-color: white;
  margin: 0px;
}

.add-to-cart {
  border-radius: 25%;
}

.supplier-button {
  margin-left: 15px;
  padding-bottom: 5px;
  height: 60px;
  color: white;
  background-color: #637b7e;
  border: none;
  font-family: krub, sans-serif;
  border-radius: 50px;
}

.supplier-button a {
  color: white;
}

.supplier-button a:link, .supplier-button a:visited, .supplier-button a:hover, .supplier-button a:active {
  text-decoration: none;
  color: white;
}

.green-insight {
  width: 400px;
  background-color: #6f7e63;
  border-radius: 5%;
  color: white;
  border-style: solid;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 100px;
  justify-content: center;
}

.light-bulb-image {
  height: 100px;
  width: 100px;
  justify-content: center;
  text-align: center;
  margin-left: 145px;
}

.insight-header {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: white;
}

.insight-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  text-align: center;
  color: white;
}

.insight-content-2 {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: white;
}

/*End of Home Search */

/*footer */
footer {
  background-color: #7e636f;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

/*Home Image + content */

.column-container {
  opacity: 0.85;
  background-image: url('https://images.unsplash.com/photo-1631679706909-1844bbd07221?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1092&q=80');
  width: 100%;
  padding-top: 115px;
  padding-bottom: 115px;
  background-size: cover;
  background-position: center;
}


.welcome-to-source { 
  text-align: center;
  box-sizing: content-box;
  width: 300px;
  border-style: solid;
  border-color: darkslategray;
  margin: 15px 25px;
  padding: 10px 15px;
  font-size: 25px;
  background: rgb(195, 224, 195);
  border-radius: 25px;
  height: 50px;
}

.welcome-to-source a {
  color: black;
}

.welcome-to-source a:link, .welcome-to-source a:visited, .welcome-to-source a:hover, .welcome-to-source a:active{
  text-decoration: none;
}

.product-filters {
  font-family: krub, sans-serif;
  text-align: center;
  padding-top: 80px;
}

.card {
  margin-bottom: 20px;
  width: 350px;
}

.flex-container {
  justify-content: center;
  padding-left: 125px;
}

.shop-sustainably {
  margin: 0px 25px;
  font-family: sans-serif;
  color: #48533f;
  text-align: center;
  text-transform: lowercase;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 3px;
}


/*End of Home Image + content */

/*About */

.about-content {
    background-color: rgb(239, 245, 239);
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .small-font {
    padding-top: 25px;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
  }

.about-categories {
  padding-top: 25px;
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
  color: green;
}

  .big-font {
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
    }

    .about-text {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 20px;
    }

    li span {
      position: relative;
      left: -10px;
      font-family: krub, sans-serif;
    }

    .column-container-about {
      opacity: 0.85;
      background-image: url('https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bmF0dXJlfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
      width: 100%;
      padding-top: 115px;
      padding-bottom: 115px;
      background-size: cover;
      background-position: center;
    }

    .about-source { 
      text-align: center;
      box-sizing: content-box;
      width: 300px;
      border-style: solid;
      border-color: darkslategray;
      margin: 15px 25px;
      padding: 10px 15px;
      font-size: 25px;
      background: rgb(195, 224, 195);
      border-radius: 25px;
      height: 50px;
    }

    .about-source a {
      color: black;
    }
    
    .about-source a:link, .about-source a:visited, .about-source a:hover, .about-source a:active{
      text-decoration: none;
    }
/*End of About */

/*Profile */
.col-md-12 {
  padding-bottom: 20px;
  font-family: krub, sans-serif;
}

.col-md-6 {
  font-family: krub, sans-serif;
}

.button-text {
  font-family: krub, sans-serif;
}

.profile-title {
  font-family: krub, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}



/*End of Profile */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-item {
  margin: 2rem;
}

.card-img-top {
  max-width:100%;
  max-height:100%;
  height: 15rem;
  width: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 20px;

}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* responsive design for larger screens */
@media (min-width: 768px) {

/* items on main page */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.two-col-container {
  display: flex;
  box-sizing: border-box;
  height: 100%;
}

.search {
  width: 500px;
  background-color: #7e636f;
  padding-bottom: 10px;
  color: white;  
  border-radius: 5%;
  border-style:hidden;
  margin-top: 25px;
  justify-content: center;
}

.green-insight {
  background-color: #6f7e63;
  opacity: 0.85;
  width: 500px;
  border-radius: 5%;
  border-style: hidden;
  margin-top: 25px;
  margin-bottom: 20px;
  justify-content: center;
}

.light-bulb-image {
  height: 100px;
  width: 100px;
  justify-content: center;
  text-align: center;
  margin-left: 200px;
}

.text-specificity {
  width: 285px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: krub, sans-serif;
}

.type-option {
    width: 285px;
    margin-right: 10px;
    font-family: krub, sans-serif;
    height: 50px;
    margin-bottom: 20px;
}

.check-container {
  margin-top: 20px;
}

.check {
  font-size: 20px;
  font-family: krub, sans-serif;
  display: block;
  margin: 8px;
  padding-top: 20px;
  text-align: center;
  padding-top: 10px;
}

.check-input-intern {
margin: 8px;
}

#check-input-full {
margin: 8px;
}

#check-input-part {
margin: 8px;
}

.type {
  font-family: krub, sans-serif;
}

  /* navbar */
  .nav-container {
    padding-top: 5px;
    height: 100px;
    width: 100%;
}

.logo {
    width: 250px;
    margin-left: 25px;
    margin-right: 10px;
}

.title {
    font-size: 30px;
}

nav ul li {
    display: inline-block;
}

.navigator {
    font-size: 21px;
    font-family: sans-serif;
}

.ham-icon {
  display: none;
}

nav ul li a:hover {
  color: #AAB8C6;
}

.menuNav {
right: 10px;
width: 400px;
position: relative;
background-color: transparent;
display: inline-block;
overflow: visible;
margin-bottom: 20px;
}

/*end of nav */ 
.column {
  flex: 100%;
  max-width: 50%;
}

.card-title {
font-family: krub, sans-serif;
font-size: 25px;
text-align: center;
font-weight: bold;
}

.card-text {
  font-family: krub, sans-serif;
  font-size: 20px;
  text-align: left;
  padding-left: 12px;
  padding-top: 0px;
}

.card-text-price {
  font-family: krub, sans-serif;
  font-size: 31px;
  font-weight: bold;
  color: #6f7e63;
  text-align: left;
  padding-left: 12px;
  padding-top: 0px;
}

.card {
flex: 0, 0, 200px;
background-color: white;
width: 350px;
border-radius: 10px;
margin: 25px;
box-shadow: 0 1px 3px rgba(0,0,0,0.16),0 1px 3px rgba(0,0,0,0.23);
}

.flex-item {
flex: 0 0 33.333333%;
}

.big-font {
padding-top: 25px;
padding-bottom: 25px;
color: darkgreen;
}

/*About */
.aboutImage {
  height: 400px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  }

  .about-content {
    text-align: center;
    background-color: rgb(245, 255, 245);
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
  }


/*Home Image */
.homeImage {
  height: 400px;
  width: 75%;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 0.4;

}

/*Home */
.item {
  margin: 20px 30px;
  padding: 15px 20px;
  height: 70px;;
  width: 500px;
  font-size: 40px;
}

.shop-sustainably {
  margin: 0px 25px;
  font-family: sans-serif;
  color: #48533f;
  text-align: center;
  text-transform: lowercase;
  font-weight: 900;
  font-size: 100px;
  letter-spacing: 3px;
}


/*End of Home */

/*Home Image + content */

.column-container {
  opacity: 0.85;
  background-image: url('https://images.unsplash.com/photo-1631679706909-1844bbd07221?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1092&q=80');
  width: 100%;
  padding-top: 250px;
  padding-bottom: 250px;
  background-size: cover;
  background-position: center;
}

.column-container-about {
  opacity: 0.85;
  background-image: url('https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  width: 100%;
  padding-top: 250px;
  padding-bottom: 250px;
  background-size: cover;
  background-position: center;
}

}

@media (min-width: 900px) {
  /*Home Image */
.homeImage {
  height: 500px;
  width: 100%;
  opacity: 0.4;
}
.aboutImage {
  height: 300px;
  padding-bottom: 30px;
  padding-left: 150px;
  padding-right: 150px;
  }
}

@media (min-width: 1300px) {
  /*Home Image */
.homeImage {
  height: 700px;
  width: 100%;
  opacity: 0.4;
}
.aboutImage {
  height: 700px;
  padding-bottom: 30px;
  padding-left: 250px;
  padding-right: 250px;
  }
}